<footer class="bg-teal-900 text-white text-sm py-4 px-6 mt-10 w-full">
    <div class="max-w-7xl mx-auto flex justify-between items-center">
      <p>Copyright © 2025. All rights reserved.</p>
      <div class="flex space-x-4">
        <span>######</span>
        <span>|</span>
        <span>Norberto@gmail.com</span>
        <span>|</span>
        <span>Norberto, Lopez</span>
      </div>
    </div>
  </footer>